
        .parent {
            display: flex;
        }

        .ch2 {
            padding-top: 100px !important;
        }

        .ch1 {
            padding-top: 200px;
            margin: 0px !important;
            text-align: center;
            color: white !important;
            font-size: larger;
        }

        body {
            margin: 0px;
        }

        .block1 {
            height: 400px;
            width: 33.33%;
            background-color: red;
            margin-right:15px;
        }

        .block2 {
            height: 400px;
            width: 33.33%;
            background-color: green;
             margin-right:15px;
        }

        .block3 {
            height: 400px;
            width: 33.33%;
            background-color: blue;
        }
